banal
normality
pantomime
followthemoney
followthemoney-store[postgresql]
servicelayer[google,amazon]
languagecodes
countrytagger
pyicu
google-cloud-vision
tesserocr
spacy
fingerprints
fasttext

# Development
nose
coverage
click

# File format support
dbf
pdflib
pymediainfo
python-magic
pypdf2
rarfile
xlrd
openpyxl
odfpy
cchardet
lxml
olefile
pillow
vobject
msglite
icalendar

cryptography
requests[security]
