black==25.1.0 ; python_version >= "3.11" and python_version < "3.14"
bump2version==1.0.1 ; python_version >= "3.11" and python_version < "3.14"
cfgv==3.4.0 ; python_version >= "3.11" and python_version < "3.14"
click==8.2.1 ; python_version >= "3.11" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.14" and (platform_system == "Windows" or sys_platform == "win32")
coverage==7.9.1 ; python_version >= "3.11" and python_version < "3.14"
distlib==0.3.9 ; python_version >= "3.11" and python_version < "3.14"
filelock==3.18.0 ; python_version >= "3.11" and python_version < "3.14"
identify==2.6.12 ; python_version >= "3.11" and python_version < "3.14"
iniconfig==2.1.0 ; python_version >= "3.11" and python_version < "3.14"
mypy-extensions==1.1.0 ; python_version >= "3.11" and python_version < "3.14"
nodeenv==1.9.1 ; python_version >= "3.11" and python_version < "3.14"
packaging==25.0 ; python_version >= "3.11" and python_version < "3.14"
pathspec==0.12.1 ; python_version >= "3.11" and python_version < "3.14"
platformdirs==4.3.8 ; python_version >= "3.11" and python_version < "3.14"
pluggy==1.6.0 ; python_version >= "3.11" and python_version < "3.14"
pre-commit==4.2.0 ; python_version >= "3.11" and python_version < "3.14"
pytest-cov==5.0.0 ; python_version >= "3.11" and python_version < "3.14"
pytest==8.2.0 ; python_version >= "3.11" and python_version < "3.14"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "3.14"
ruff==0.11.13 ; python_version >= "3.11" and python_version < "3.14"
virtualenv==20.31.2 ; python_version >= "3.11" and python_version < "3.14"
