name: package

on: [push]

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up
        run: |
          docker --version
          docker-compose --version
          echo "${GITHUB_REF}"
      - name: Start services
        run: |
          make services
      - name: Build docker images
        run: |
          make cached-build
      - name: Run tests
        run: make test
      - name: Push docker images (hash)
        if: github.ref == 'refs/head/main' || startsWith(github.ref, 'refs/tags')
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

          docker tag ghcr.io/alephdata/ingest-file ghcr.io/alephdata/ingest-file:${GITHUB_SHA}
          docker push ghcr.io/alephdata/ingest-file:${GITHUB_SHA}
          docker tag ghcr.io/alephdata/ingest-file ghcr.io/alephdata/ingest-file:cache
          docker push ghcr.io/alephdata/ingest-file:cache

          docker tag ghcr.io/alephdata/convert-document ghcr.io/alephdata/convert-document:${GITHUB_SHA}
          docker push ghcr.io/alephdata/convert-document:${GITHUB_SHA}
          docker tag ghcr.io/alephdata/convert-document ghcr.io/alephdata/convert-document:cache
          docker push ghcr.io/alephdata/convert-document:cache
      - name: Push docker images for tags
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        run: |
          export TAG=${GITHUB_REF/refs\/tags\//}

          docker tag ghcr.io/alephdata/ingest-file ghcr.io/alephdata/ingest-file:${TAG};
          docker push ghcr.io/alephdata/ingest-file:${TAG};
          docker push ghcr.io/alephdata/ingest-file;

          docker tag ghcr.io/alephdata/convert-document ghcr.io/alephdata/convert-document:${TAG};
          docker push ghcr.io/alephdata/convert-document:${TAG};
          docker push ghcr.io/alephdata/convert-document;
